In [1]:
'''
컨텐츠(장르, 배우, 예산 등등) 필터링 기반 추천시스템
컨텐츠(장르) 기반으로 추천시스템
'''
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("movies_metadata.csv")

C:\Users\msi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
print(data.shape)
data.head()
data.columns

(45466, 24)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [9]:
data=data[['id', 'genres', 'vote_average', 'vote_count', 'popularity', 'title', 'overview']]
data
#R = average for the movie (mean) = (Rating)
#v = number of votes for the movie = (votes)
#m = minimum votes required to be listed in the Top 250 (currently 25000)
#C = the mean vote across the whole report (currently 7.0)

,id,genres,vote_average,vote_count,popularity,title,overview
0,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",7.7,5415.0,21.9469,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,8844,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",6.9,2413.0,17.0155,Jumanji,When siblings Judy and Peter discover an encha...
2,15602,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",6.5,92.0,11.7129,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,31357,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",6.1,34.0,3.85949,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,11862,"[{'id': 35, 'name': 'Comedy'}]",5.7,173.0,8.38752,Father of the Bride Part II,Just when George Banks has recovered from his ...
...,...,...,...,...,...,...,...
45461,439050,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",4.0,1.0,0.072051,Subdue,Rising and falling between a man and woman.
45462,111109,"[{'id': 18, 'name': 'Drama'}]",9.0,3.0,0.178241,Century of Birthing,An artist struggles to finish his work while a...
45463,67758,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",3.8,6.0,0.903007,Betrayal,"When one of her hits goes wrong, a professiona..."
45464,227506,[],0.0,0.0,0.003503,Satan Triumphant,"In a small town live two brothers, one a minis..."
45465,461257,[],0.0,0.0,0.163015,Queerama,50 years after decriminalisation of homosexual...

In [12]:
data['vote_count'].quantile(0.7) # quantile() : 분위 수를 구할 때 사용하는 함수
data['vote_count'].max()
data['vote_count'].min()

0.0

In [13]:
tmp_m=data['vote_count'].quantile(0.95)
tmp_m

434.0

In [19]:
cdata=data.copy()
cdata.shape

(45466, 7)

In [20]:
tmp_data=cdata[cdata['vote_count']>=tmp_m]
tmp_data

,id,genres,vote_average,vote_count,popularity,title,overview
0,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",7.7,5415.0,21.9469,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,8844,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",6.9,2413.0,17.0155,Jumanji,When siblings Judy and Peter discover an encha...
5,949,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",7.7,1886.0,17.9249,Heat,"Obsessive master thief, Neil McCauley leads a ..."
9,710,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",6.6,1194.0,14.686,GoldenEye,James Bond must unmask the mysterious head of ...
15,524,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",7.8,1343.0,10.1374,Casino,The life of the gambling paradise – Las Vegas ...
...,...,...,...,...,...,...,...
44624,406990,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",7.3,598.0,60.581223,What Happened to Monday,In a world where families are limited to one c...
44632,341013,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",6.1,748.0,14.455104,Atomic Blonde,An undercover MI6 agent is sent to Berlin duri...
44678,374720,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",7.5,2712.0,30.938854,Dunkirk,The miraculous evacuation of Allied soldiers f...
44842,335988,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",6.2,1440.0,39.186819,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma..."
45014,353491,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",5.7,688.0,50.903593,The Dark Tower,"The last Gunslinger, Roland Deschain, has been..."

In [23]:
C=tmp_data['vote_average'].mean()
M=data['vote_count'].quantile(0.95)
print(C)
print(M)

6.605892700087957
434.0

In [ ]:
def weighted_rating(x, m=m, c=c):
    
tdata.apply(weighted_rating, axis)