In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect("emp.db")

In [3]:
conn.execute('create table emp_data(id integer, name text, nickname text, department text, employment_date text)')

In [4]:
cur=conn.cursor()

In [6]:
data=[('a',100),('b',200)]
cur.executemany(
'insert into emp_data values (?,?,?,?,?)',
    [(1, 'gildong', 'gd','marketing','2020-10-06 10:36:00.000'),
    (2, 'sunshin', 'ss','marketing','2019-10-06 10:36:00.000'),
    (3, 'yusin', 'ys','development','2020-01-06 10:36:00.000'),
    (4, 'sejong', 'sj','marketing','2020-05-06 10:36:00.000'),
    (5, 'bogo', 'bg','development','2020-07-06 10:36:00.000')]
)

In [7]:
cur.execute('select * from emp_data')

In [8]:
for row in cur:
    print(row)

(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000')
(2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000')
(3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000')
(4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000')
(5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')

In [9]:
conn.commit()

In [10]:
conn.close()

In [12]:
cur.execute('select * from emp_data')

ProgrammingError: Cannot operate on a closed database.

In [13]:
conn=sqlite3.connect("emp.db")

In [14]:
cur=conn.cursor()

In [15]:
cur.execute('select * from emp_data')

In [16]:
for row in cur:
    print(row)

(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000')
(2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000')
(3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000')
(4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000')
(5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')

In [17]:
cur.execute('select * from emp_data')

In [18]:
rows=cur.fetchall()

In [19]:
print(rows)

[(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'), (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'), (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'), (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'), (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')]

In [20]:
conn.close()

In [21]:
conn=sqlite3.connect("emp.db")

In [22]:
cur=conn.cursor()

In [23]:
cur.execute('select * from emp_Data')

In [24]:
rows=cur.fetchall()

In [25]:
print(rows)

[(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'), (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'), (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'), (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'), (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')]

In [27]:
cols=[column[0] for column in cur.description]
cols

['id', 'name', 'nickname', 'department', 'employment_date']

In [28]:
import pandas as pd
import numpy as np

In [30]:
df=pd.DataFrame.from_records(data=rows, columns=cols)
df

   id     name nickname   department          employment_date
0   1  gildong       gd    marketing  2020-10-06 10:36:00.000
1   2  sunshin       ss    marketing  2019-10-06 10:36:00.000
2   3    yusin       ys  development  2020-01-06 10:36:00.000
3   4   sejong       sj    marketing  2020-05-06 10:36:00.000
4   5     bogo       bg  development  2020-07-06 10:36:00.000

In [31]:
conn.execute('drop table emp_data')

In [32]:
conn.close()

In [33]:
conn=sqlite3.connect('emp.db')

In [34]:
cur=conn.cursor()

In [35]:
cur.execute('select * from emp_data')

OperationalError: no such table: emp_data

In [36]:
conn=sqlite3.connect('dbtest.db')

In [37]:
cur=conn.cursor()

In [38]:
cur.execute('create table test (name text, jumsu int)')

In [39]:
cur.execute("insert into test values ('sunshin', 100)")

In [40]:
cur.execute('select * from test')

In [41]:
for row in cur:
    print(row)

('sunshin', 100)

In [42]:
cur.execute("insert into test values (?, ?)", ('sunshin',100))

In [43]:
cur.execute('select * from test')
rows=cur.fetchall()

In [44]:
rows

[('sunshin', 100), ('sunshin', 100)]

In [45]:
cur.execute("update test set jumsu=90 where name='sunshin'")

In [46]:
cur.execute('select * from test')
rows=cur.fetchall()
rows

[('sunshin', 90), ('sunshin', 90)]

In [47]:
    data={'c1':[1,2,3],
         'c2':[11,21,31],
         'c3':[12,22,32]}

In [48]:
df=pd.DataFrame(data)
df

   c1  c2  c3
0   1  11  12
1   2  21  22
2   3  31  32

In [49]:
conn=sqlite3.connect('cvTable.db')

In [50]:
df.to_sql('mytable', conn)

In [51]:
cur=conn.cursor()

In [52]:
cur.execute("select * from mytable")

In [53]:
rows=cur.fetchall()
rows

[(0, 1, 11, 12), (1, 2, 21, 22), (2, 3, 31, 32)]