In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
bike=pd.read_csv("bike.csv", parse_dates=['datetime'])
bike

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

# 1. 컬럼에 대한 설명

datetime - hourly date + timestamp 

season - 1 = spring, 2 = summer, 3 = fall, 4 = winter 

holiday - whether the day is considered a holiday

workingday - whether the day is neither a weekend nor holiday

weather - 1: Clear, Few clouds, Partly cloudy, Partly cloudy, 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist, 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds, 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog 

temp - temperature in Celsius

atemp - "feels like" temperature in Celsius

humidity - relative humidity

windspeed - wind speed

casual - number of non-registered user rentals initiated

registered - number of registered user rentals initiated

count - number of total rentals

In [15]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.7 KB

# 2. bike.csv 파일을 읽고 데이터프레임(변수명:df)으로 저장

In [47]:
df=pd.DataFrame(bike)
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,month
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,1
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,1
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,12
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,12
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,12
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,12
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,12

# 3. season 컬럼

- season 종류 별 데이터 건수 출력

In [11]:
df['season']
print(df.groupby(['season']).size())

season
1    2686
2    2733
3    2733
4    2734
dtype: int64

# 4. temp 컬럼

- 최대, 최소, 평균, 중앙값, 표준편차 출력

- 월별 temp 평균 온도 출력

- temp 컬럼 값을 0-10, 10-20, 20-30 구간으로 나눈다음, 구간별 데이터 건수를 출력

In [13]:
print(df['temp'].max())
print(df['temp'].min())
print(df['temp'].mean())
print(df['temp'].median())
print(df['temp'].std())

41.0
0.82
20.230859819952173
20.5
7.791589843987506

In [48]:
df['month']=df['datetime'].dt.month
#df=df.groupby(['month'])
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,month
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,1
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,1
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,12
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,12
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,12
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,12
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,12

In [31]:
print(df.groupby(['month'])['temp'].mean())

month
1      9.840000
2     11.798535
3     15.902175
4     18.718372
5     22.674079
6     27.064496
7     30.841711
8     29.736689
9     25.779032
10    20.933853
11    15.185752
12    13.831206
Name: temp, dtype: float64

In [36]:
# temp 컬럼 값을 0-10, 10-20, 20-30 구간으로 나눈다음, 구간별 데이터 건수를 출력
print(df['temp'].value_counts(bins=[0,10,20,30], sort=False))

(-0.001, 10.0]    1259
(10.0, 20.0]      4049
(20.0, 30.0]      4334
Name: temp, dtype: int64

# 5. windspeed 컬럼

- 0으로 되어 있는 값의 개수를 세어 출력

- 월별 windspeed 평균 풍속 출력(0 제외)

In [41]:
print(len(df[df['windspeed']==0]))

1313

In [46]:
df=df[df['windspeed']!=0]
print(df.groupby(['month'])['windspeed'].mean())

month
1     15.934902
2     16.068072
3     16.657385
4     16.921398
5     13.980160
6     13.634654
7     12.594203
8     13.584564
9     13.421314
10    13.672864
11    14.781608
12    13.077087
Name: windspeed, dtype: float64

# 6. weather 컬럼

- weather 종류 별 데이터 건수 출력

In [51]:
print(df.groupby(['weather']).size())

weather
1    7192
2    2834
3     859
4       1
dtype: int64

# 7. humidity 컬럼

- 2011년 평균 습도 출력

- 2012년 평균 습도 출력

- 연도와 관계없이 월별 평균 습도 출력

- 표준편차(연도별) 출력

In [55]:
print(df[df['datetime'].dt.year==2011]['humidity'].mean())

63.40501659904094

In [56]:
print(df[df['datetime'].dt.year==2012]['humidity'].mean())

60.37957540263543

In [58]:
print(df.groupby(['month'])['humidity'].mean())

month
1     55.911765
2     56.296337
3     56.678135
4     55.697470
5     68.084430
6     58.759868
7     58.402412
8     63.010965
9     70.980198
10    69.412733
11    60.722283
12    68.383772
Name: humidity, dtype: float64

In [60]:
df['year']=df['datetime'].dt.year
print(df.groupby(['year'])['humidity'].std())

year
2011    19.780518
2012    18.578008
Name: humidity, dtype: float64

# 8. datetime 컬럼

- 월별(01~12) 평균 count 출력

- 일별(01~19) 평균 count 출력

- 시각별(0~23) 평균 count 출력

- 평균 count값이 가장 큰 월 출력

- 평균 count값이 가장 큰 시각 출력

In [65]:
month_count=df.groupby(['month'])['count'].mean()
print(month_count)

month
1      90.366516
2     110.003330
3     148.169811
4     184.160616
5     219.459430
6     242.031798
7     235.325658
8     234.118421
9     233.805281
10    227.699232
11    193.677278
12    175.614035
Name: count, dtype: float64

In [63]:
df['day']=df['datetime'].dt.day
print(df.groupby(['day'])['count'].mean())

day
1     180.333913
2     183.910995
3     194.696335
4     195.705575
5     189.765217
6     189.860140
7     183.773519
8     179.041812
9     187.897391
10    195.183566
11    195.679577
12    190.675393
13    194.160279
14    195.829268
15    201.527875
16    191.353659
17    205.660870
18    192.605684
19    192.311847
Name: count, dtype: float64

In [68]:
df['hour']=df['datetime'].dt.hour
hour_count=df.groupby(['hour'])['count'].mean()
print(hour_count)

hour
0      55.138462
1      33.859031
2      22.899554
3      11.757506
4       6.407240
5      19.767699
6      76.259341
7     213.116484
8     362.769231
9     221.780220
10    175.092308
11    210.674725
12    256.508772
13    257.787281
14    243.442982
15    254.298246
16    316.372807
17    468.765351
18    430.859649
19    315.278509
20    228.517544
21    173.370614
22    133.576754
23     89.508772
Name: count, dtype: float64

In [67]:
print(month_count.idxmax())

6

In [69]:
print(hour_count.idxmax())

17

# 9. 상관분석 

- temp와 count 간 상관 계수 출력

- humidity와 count 간 상관 계수 출력

- weather와 count 간 상관 계수 출력

- windspeed와 count 간 상관 계수 출력

- 위 4개의 features 중에서 상관 계수가 가장 큰 feature 출력

In [72]:
print(df['temp'].corr(df['count']))

0.39445364496724933

In [73]:
print(df['humidity'].corr(df['count']))

-0.31737147887659445

In [75]:
print(df['weather'].corr(df['count']))

-0.1286552010385064

In [76]:
print(df['windspeed'].corr(df['count']))

0.10136947021033277

In [87]:
col=df.columns[4:9]
feature=[]
for i in col:
    feature.append(df[i].corr(df['count']))
print(col[feature.index(max(feature))])

temp