# [ 파이썬과 웹크롤링]

1. 다음은 인스타그램 접속과 관련된 코드의 일부이다. 밑줄친 부분에 시간을 2초간 지연하는 코드를 작성하시오.
driver.get('https://www.instargram.com')

In [1]:
from selenium import webdriver
import time

In [5]:
driver=webdriver.Chrome("C://mychrome/chromedriver.exe")
driver.get('https://www.instagram.com')
time.sleep(2)

2. 다음과 같은 데이터 프레임을 생성하시오.

In [9]:
import pandas as pd

In [11]:
data={'city':['Seoul', 'Daegu', 'Busan', 'Gwangju'], 'year':[2000, 2001, 2003, 2002], 'pop':[9, 2, 3, 0.1]}
df=pd.DataFrame(data)
df

      city  year  pop
0    Seoul  2000  9.0
1    Daegu  2001  2.0
2    Busan  2003  3.0
3  Gwangju  2002  0.1

# [웹 데이터 전처리 및 정제/표준화]

1. 다음과 같은 배열을 생성하시오.

In [12]:
import numpy as np

In [14]:
one=np.ones((8,8))
np.pad(one, pad_width=1, constant_values=0)

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

2. 데이터 정규화 / 표준화에 대해 비교 설명하시오.

- 데이터 정규화(Normalization) : 해당 (속성 값-최솟값)/(최댓값-최솟값) 으로 0~1사이의 값을 나타내는 척도이다.
- 데이터 표준화(Standardization) : 특정한 분포들이 평균과 분산 혹은 표준편차를 이용해 (속성 값-평균)/표준편차 로 해당 분포에서의 이 속성 값이 평균으로부터의 위치를 표준편차 단위로 옮겨서 다시 나타낸 것

# [정형 데이터처리 RDB]


다음 실행 예시처럼 교환할 돈을 입력받아서, 최소한의 동전의 개수로 교환해 주는 파이썬 코드를 작성하시오.

바꿀 돈 -->7777

500원: 15 , 100원: 2 , 50원: 1 , 10원 2 , 나머지: 7

In [8]:
money=int(input("바꿀 돈 -->"))
fivehundred=money//500
rest=money%500
hundred=rest//100
rest=rest%100
fifty=rest//50
rest=rest%50
ten=rest//10
rest=rest%10
print("500원:", fivehundred, ", 100원:", hundred, ", 50원:", fifty, ", 10원:", ten, ", 나머지:", rest)

바꿀 돈 -->7777
500원: 15 , 100원: 2 , 50원: 1 , 10원: 2 , 나머지: 7